body {
    margin: 0px;
    padding: 20px;
    font-family: Garamond, serif;
    box-sizing: border-box;
}

:root {
    --mainbackground: #FFF5E1;
    --secbackground: #F7ECD4;
    --txts: #800020;
    --buttons: #DCCBA3;
    --btntxt: #6F4E37;
    --accent: pink;
}

header nav ul {
    list-style-type: none;
    color: var(--buttons);
}

nav p {
    color: var(--buttons);

}

nav {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}


nav a {
    text-decoration: none;
    color: var(--secbackground);
}

nav a:hover {
    color: var(--btntxt);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 20px;

}

nav {
    background-color: var(--txts);
}

nav p {
    font-family: "Stencil Std", fantasy;
}


.hero {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url(./imgs/hero22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero .p1 {
    font-family: Courier New;
    color: var(--secbackground);
}

.hero h1 span {
    color: var(--txts);
}

.hero button {
    background-color: var(--buttons);
    padding: 5px;
    font-family: "Stencil Std", fantasy;
    color: var(--txts);
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.hero .txt p {
    color: var(--secbackground);


}

.hero .txt h1 {
    color: var(--buttons);
}

.hero .txt {
    position: absolute;
    left: 80px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 200px);
    gap: 10px;
    width: 100%;
    margin-left: auto;
    padding: 10px;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;

}

.gallery img:hover {
    transform: scale(1.1);

}

.t h1 {

    color: var(--txts);
    text-align: center;

}

.t p {
    color: var(--btntxt);
    text-align: center;
}

.t {
    padding: 30px;
    background-color: var(--buttons);
    margin-top: 10px;
}


footer {
    background-color: var(--txts);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;


}

footer .p1 {
    font-family: "Stencil Std", fantasy;
    color: var(--buttons);

}

footer .p1,
.p2 {
    text-align: center;
    color: var(--secbackground);
}

footer ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    list-style-type: none;

}



footer a {
    color: var(--buttons);
    text-decoration: none;
}

footer a:hover {
    color: var(--btntxt);
}